{% load static tag %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!--Useful meta tags-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Preloader JS-->
    <script type="text/javascript" src="{% static 'assets/js/preloader.js' %}"></script>
    <!--Preloader Style-->
    <link rel="stylesheet" href="{% static 'assets/css/preload.css' %}">
    <!--Bootstrap Stylesheet-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" as="style" onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Magnific Popup Stylesheet-->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" as="style" onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--OWL Carousel Stylesheet-->
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" as="style" onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Font Awesome Stylesheet-->
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" as="style" onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Mobirise-->
    <link rel="stylesheet" href="{% static 'assets/css/mobirise/style.css' %}" as="style" onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--AOC-->
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}" as="style" onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Main Stylesheet-->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" as="style" onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Responsive Stylesheet-->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" as="style" onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Theme Stylesheet-->
    <link rel="stylesheet" href="{% static 'assets/css/light.theme.css' %}" id="optional-theme" as="style" onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Theme Color-->
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}" id="optional-color" as="style" onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--MAIN TITLE-->
    <title>Porfolio - Emmanuel Nwaegunwa</title>
</head>
<body data-spy="scroll" data-target=".scrollspy" data-offset="85">
    <!--PRELOADER START-->
    <div id="preloader">
        <div class="text-center w-100">
            <div class="loader"></div>
        </div>
    </div>
    <!--PRELOADER END-->
    <!--HEADER START-->
    <header class="navigation horizontal_header transparentOnScroll navbar navbar-expand-lg fixed-top">
        <div class="header-ins">
        <div class="container">
                <!--LOGO AREA-->
                <div class="site-logo">
                    <a href="#" class="hoveroff" title="kevin">
                        <!--<img src="./assets/images/kevin.png" alt="kevin">-->
                        Portfo<span>lio</span>
                    </a>
                </div>
                <button class="button-toggler navbar-toggler collapsed" type="button" data-target="#navigation" data-toggle="collapse" aria-controls="navigation" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!--Main Navigation START-->
                <ul class="justify-content-end scrollspy collapse navbar-collapse" id="navigation">
                    <li>
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li>
                        <a href="#resume" class="nav-link">Resume</a>
                    </li>
                    <li>
                        <a href="#blog" class="nav-link">Blog</a>
                    </li>
                    <li>
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
                <!--Main Navigation END-->
            
        </div>
        </div>

    </header>
    <!--HEADER END-->

    <main class="content center-main" >
        <!--INTRODUCTION SECTION START-->
        <section class="home d-flex" id="home">
            <!--Particle Background-->
            <div class="background-particle" id="particlebackground" data-config="{% static 'assets/pj-config-light.json' %}">

            </div>
            <!--End of Particle Background-->
            <div class="container introduction text-center" >
                <p class="welcome_text mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150">I'm a <span class="welcome-text-type" data-options="{{ profile.iam }}" ></span></p>
                <div id="parallax-scene" class="mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                    <div class="heading-zone">
                        <h1>{{ profile.name }}</h1>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="450">
                    <a href="#about" class="btn  btn-primary btn-small">Learn More</a>
                </div>
            </div>
            <div class="scroll-down">
                <a href="#about" class="scroll-down-link text-center hoveroff">
                    <div class="scroll-title">Scroll Down</div>
                    <div class="scroll-mouse">
                        <div class="whell"></div>
                    </div>
                </a>
            </div>
        </section>
        <!--INTRODUCTION SECTION END-->


        <!--ABOUT SECTION START-->
        <section class="about background_gpattern" id="about">
            <div class="container d-flex justify-content-between flex-column h-100">
                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-left">
                                <h2 data-aos="heading-show" class="text_background">
                                    Who Am I
                                    <span class="heading_background">About Me</span>
                                </h2>
                                <p class="m-0">Get to know me</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-content flex-grow-1">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-6">
                            <div class="avatar-area m-auto">
                                <img src="{{ profile.photo.url }}" width="400" height="550" alt="" class="img-fluid mx-auto">
                            </div>
                        </div>
                        <div class="col-md-6 mt-5 mt-md-0">
                                <h3 class="m-0">I'm {{ profile.name }}</h3>
                                <p class="my-4">{{ profile.about }}</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="about-info mb-2">
                                            <span class="desc">Experience:</span>
                                            <span>{{ profile.experience }}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="about-info mb-2">
                                            <span class="desc">Email:</span>
                                            <span><a href="mailto:{{ profile.email }}"  class="__cf_email__" data-cfemail="39525c4f5057545055555c4b7952555b175a5654">{{ profile.email }}</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="button_and_social my-4">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-xl-6">
                                            <a href="{% if profile.photo %} {{ profile.cv.url }} {% endif %}" class="btn btn-outline-primary btn-lg">Download CV</a>
                                        </div>
                                        <div class="col-xl-6">
                                            <ul class="social-icons list-inline mt-4 mt-xl-0">
                                                <li class="list-inline-item">
                                                    <a href="{{ profile.linkedin }}">
                                                        <i class="fab fa-linkedin-in"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="{{ profile.github }}">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="{{ profile.twitter }}">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="{{ profile.website }}">
                                                        <i class="fab fa-blogger"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!--ABOUT SECTION END-->

        <!--PORTFOLIO SECTION START-->
        <section class="portfolio background_gpattern" id="portfolio">
            <div class="container d-flex flex-column justify-content-between h-100 ">

                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-left">
                                <h2 data-aos="heading-show" class="text_background">
                                    My Projects
                                    <span class="heading_background">Portfolio</span>
                                </h2>
                                <p class="m-0">Projects I have worked on.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content flex-grow-1">
                    <div class="row portfolio-items">
                        {% for project in projects %}
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-2 mt-4 backenddevelopment">
                            <div class="portfolio-item">
                                <a href="{{ project.url }}" target="_blank" class="portfolio-single">
                                    <div class="item-box">
                                        <div class="item-image">
                                            <img src="{% if project.photo %} {{ project.photo.url }} {% endif %}"  style="height: 350px; object-fit: fill;" class="d-block img-fluid mx-auto" alt="">
                                        </div>
                                        <div class="item-details d-flex align-items-center">
                                            <div class="item-details-ins text-center w-100">
                                                <div class="mb-2">
                                                    <span class="mbri-link"></span>
                                                </div>
                                                <h3>{{ project.name }}</h3>
                                                <p>{{ project.about }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!--PORTFOLIO SECTION START-->


        <!--RESUME SECTION START-->
        <section class="resume background_gpattern" id="resume">

            <div class="container d-flex flex-column justify-content-between h-100 ">

                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-left">
                                <h2  data-aos="heading-show" class="text_background">
                                    My Experience
                                    <span class="heading_background">Resume</span>
                                </h2>
                                <p class="m-0">My Experience and qualifications.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content flex-grow-1">
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <h3 class="mb-4">Education</h3>
                            <ul class="list-inline resume-list">
                            {% for education in educations %}
                                <li>
                                    <h4 class="mb-2">{{ education.school }}</h4>
                                    <span class="time">{{ education.start }} - {{ education.end }}</span>
                                    <p class="my-2">{{ education.about }}</p>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>

                        <div class="col-lg-6">
                            <h3 class="mb-4">Experience</h3>
                            <ul class="list-inline resume-list">
                                {% for experience in experiences %}
                                <li>
                                    <h4 class="mb-2">{{ experience.position }}, {{ experience.company }}</h4>
                                    <span class="time">{{ experience.start }} - {{ experience.end }}</span>
                                    <p class="my-2">{{ experience.about }}</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>


                    </div>
                    <div class="row mt-5">
                        {% for tool in tools %}
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>{{ tool.name }}</span>
                                        <span class="text-right progress-percent">{{ tool.proficiency }}%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="{{ tool.proficiency }}" aria-valuenow="{{ tool.proficiency }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </section>
        <!--RESUME SECTION START-->


        <!--BLOG SECTION START-->
        <section class="blog background_gpattern" id="blog">
            <div class="container d-flex flex-column justify-content-between h-100 ">
                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-left">
                                <h2 data-aos="heading-show" class="text_background">
                                    My Articles
                                    <span class="heading_background">Blog</span>
                                </h2>
                                <p class="m-0">My latest articles</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-content flex-grow-1">
                    <div class="row">
                        {% for blog in blogs %}
                        <div class="col-lg-4 col-md-12">
                            <div class="news-item mb-5">
                                <div class="news-cover">
                                    <img src="{% if blog.image %} {{ blog.image.url }} {% endif %}" width="508" height="336" alt="" class="img-fluid">
                                </div>
                                <div class="news-content p-4">
                                    <div class="news-title mb-3">
                                        <a href="{{ blog.link }}" class="blog-permalink">
                                            <h3>{{ blog.header }}</h3>
                                        </a>
                                    </div>
                                    <div class="news-meta d-flex flex-row mb-4">
                                        <div class="news-meta-single mr-3">
                                            <span class="mbri-calendar"></span>
                                            <span class="meta-value">{{ blog.date }}</span>
                                        </div>
                                        <div class="news-meta-single">
                                            <span class="mbri-user"></span>
                                            <span class="meta-value">by <a href="#">{{ blog.by }}</a></span>
                                        </div>
                                    </div>
                                    <div class="readMore">
                                        <a href="{{ blog.link }}" class="btn btn-outline-primary">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!--BLOG SECTION START-->

        <!--CONTACT SECTION START-->
        <section class="contact" id="contact">
            <div class="container d-flex flex-column justify-content-between h-100 ">
                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-left">
                                <h2  data-aos="heading-show" class="text_background">
                                    Get in Touch
                                    <span class="heading_background">Contact Us</span>
                                </h2>
                                <p class="m-0">Please contact me or stay in touch with me via socials</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content flex-grow-1">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="d-flex flex-row flex-sm-column flex-md-row justify-content-md-center mb-3 text-left text-sm-center text-md-left">
                                <div class="contact-icon mr-md-3 mr-3 mr-sm-0">
                                    <span class="mbri-letter"></span>
                                </div>
                                <div class="contact-details mt-2">
                                    <h5>Email Us</h5>
                                    <p><a href="mailto:{{ profile.email }}"  class="__cf_email__" data-cfemail="39525c4f5057545055555c4b7952555b175a5654">{{ profile.email }}</span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex flex-row flex-sm-column flex-md-row justify-content-md-center mb-3 text-left text-sm-center text-md-left">
                                <div class="contact-icon mr-md-3 mr-3 mr-sm-0">
                                    <span class="mbri-mobile"></span>
                                </div>
                                <div class="contact-details mt-2">
                                    <h5>Call</h5>
                                    <p><a href="tel:+1000123456789">{{ profile.phone }}</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex flex-row flex-sm-column flex-md-row justify-content-md-center mb-3 text-left text-sm-center text-md-left">
                                <div class="contact-icon mr-md-3 mr-3 mr-sm-0">
                                    <span class="mbri-info"></span>
                                </div>
                                <div class="contact-details mt-2">
                                    <h5>Blog</h5>
                                    <p><a href="{{ profile.website }}">hashnode</a></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <form action="/" method="post" id="contact-formss">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6 mt-3">
                                        <div class="form-group">
                                            <input type="text" name="fullname" id="name" class="form-control" autocomplete="off" required>
                                            <label>Full Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mt-3">
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" class="form-control" autocomplete="off" required>
                                            <label>Email</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        <div class="form-group">
                                            <input type="text" name="subject" id="subject" class="form-control" autocomplete="off" required>
                                            <label>Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        <div class="form-group">
                                            <textarea name="message" id="text"  rows="6" class="form-control" required></textarea>
                                            <label>Message</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        <div class="form-group mb-0 text-right">
                                            <button type="submit" id="contact-btn" class="btn btn-outline-primary btn-bg">
                                                Send Message
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>


            </div>
        </section>
        <!-- /CONTACT SECTION END-->
        <footer class="horizontal-footer shadow-footer">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-12">
                        <div class="text-center">
                                <ul class="social-icons list-inline mt-5">
                                    <li class="list-inline-item">
                                        <a href="{{ profile.linkedin }}">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{{ profile.github }}">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{{ profile.twitter }}">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{{ profile.website }}">
                                            <i class="fab fa-blogger"></i>
                                        </a>
                                    </li>
                                </ul>
                                <p class="copyright-text mt-3 mb-5">2024 © <b>{{ profile.name }}.</b></p>
                        </div>
                    </div>
                </div> 
            </div>
               
               
           
        </footer>
    </main>
    
    <!--To Top Link START-->
    <a href="#" class="toTop" id="return-to-top">
        <i class="fas fa-chevron-up"></i>
    </a>
    <!--To Top Link END-->



    <!--Style switcher START-->
    <!-- <div id="color-switcher" class="d-flex flex-row">
        <div class="switcher-area">
            <h3 class="mb-4 mt-2">Choose your color</h3>
            <ul class="list-inline m-auto">
                <li class="list-inline-item">
                    <a href="#" class="swtich-color color1 active" data-path="assets/css/default.css"></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="swtich-color color2" data-path="assets/css/blue.css"></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="swtich-color color3" data-path="assets/css/violet.css"></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="swtich-color color4" data-path="assets/css/green.css"></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="swtich-color color5" data-path="assets/css/pink.css"></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="swtich-color color6" data-path="assets/css/red.css"></a>
                </li>
            </ul>
        </div>
        <div class="switcher-button">
            <i class="fas fa-cog"></i>
        </div>
    </div> -->
    <!--Style switcher END-->

    <!--JS FILES-->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.min.js' %}"></script> 
    <script src="{% static 'assets/js/jquery.countTo.js' %}"></script> 
    <script src="{% static 'assets/js/scrollspy.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="{% static 'assets/js/typed.min.js' %}"></script>
    <script src="{% static 'assets/js/particles.min.js' %}"></script>
    <script src="{% static 'assets/js/alert.js' %}"></script>
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/switcher.js' %}"></script>
</body>
</html>
